FrbaBus/bin/Debug/FrbaBus.exe
FrbaBus/bin/Debug/FrbaBus.pdb
FrbaBus/bin/Debug/FrbaBus.vshost.exe
FrbaBus/bin/Debug/FrbaBus.vshost.exe.manifest
FrbaBus/bin/Release/FrbaBus.exe
FrbaBus/bin/Release/FrbaBus.pdb
FrbaBus/obj/Debug/FrbaBus.Abm_Micro.MicroAlta.resources
FrbaBus/obj/Debug/FrbaBus.Abm_Micro.MicroFormBaja.resources
FrbaBus/obj/Debug/FrbaBus.Abm_Micro.MicroFormModificacion.resources
FrbaBus/obj/Debug/FrbaBus.Abm_Micro.modificacion.resources
FrbaBus/obj/Debug/FrbaBus.Abm_Permisos.Form1.resources
FrbaBus/obj/Debug/FrbaBus.Abm_Recorrido.Alta.resources
FrbaBus/obj/Debug/FrbaBus.Abm_Recorrido.Form1.resources
FrbaBus/obj/Debug/FrbaBus.Abm_Recorrido.Listar.resources
FrbaBus/obj/Debug/FrbaBus.Abm_Recorrido.Modificar_recorrido.resources
FrbaBus/obj/Debug/FrbaBus.Cancelar_Viaje.Form1.resources
FrbaBus/obj/Debug/FrbaBus.Canje_de_Ptos.canje.resources
FrbaBus/obj/Debug/FrbaBus.Ciudades.Form1.resources
FrbaBus/obj/Debug/FrbaBus.csproj.FileListAbsolute.txt
FrbaBus/obj/Debug/FrbaBus.csproj.GenerateResource.Cache
FrbaBus/obj/Debug/FrbaBus.exe
FrbaBus/obj/Debug/FrbaBus.Form1.resources
FrbaBus/obj/Debug/FrbaBus.GenerarViaje.Form1.resources
FrbaBus/obj/Debug/FrbaBus.Login.Form1.resources
FrbaBus/obj/Debug/FrbaBus.pdb
FrbaBus/obj/Debug/FrbaBus.Properties.Resources.resources
FrbaBus/obj/Release/FrbaBus.csproj.FileListAbsolute.txt
FrbaBus/obj/Release/FrbaBus.csproj.GenerateResource.Cache
FrbaBus/obj/Release/FrbaBus.exe
FrbaBus/obj/Release/FrbaBus.pdb
FrbaBus/obj/Release/FrbaBus.Properties.Resources.resources
